body {
    font-family: "Roboto";
    background: #E5E5E5;
}

.header {
    width: 100%;
    height: 92px;
    background: #CF2B2B;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 21px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header h1 {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 44px;
}

.header strong {
    font-weight: 400;
    font-size: 18px;
}

.footer-button {
    width: 100%;
    height: 92px;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footer-button button {
    width: 100%;
    height: 61px;
    border-radius: 50px;
    border: none;
    background: #32B72F;

    font-weight: 700;
    font-size: 20px;
    color: white;
}

.footer-button button:disabled {
    background: #CBCBCB;
    font-weight: 400;
    font-size: 20px;
}

.container {
    margin-top: 123px;
    margin-bottom: 123px;
    margin-left: 19px;
}

.container > div > h1 {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 26px;
    color: #333333;

    margin-bottom: 17px;
}

.container > div {
    margin-bottom: 27px;
}

.card-list {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

.card {
    min-width: 172px;
    min-height: 216px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-right: 16px;
    border: none;
    text-align: left;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px;
}

.card img {
    width: 144px;
    object-fit: cover;
}

.card h1 {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.card p {
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}

.card strong {
    font-weight: 400;
    font-size: 16px;
}

.card > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ion-icon {
    color: #32B72F;
    width: 19px;
    height: 19px;
    display: none;
}

.ion-icon-active {
    display: flex;
}


.selected-card {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.confirm-order {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    z-index: 3;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}

.active-confirm-order {
    display: flex;
}

#strong {
    font-weight: 700;
}

.confirm-order > div {
    width: 377px;
    height: 353px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    color: #FFFFFF;
    box-sizing: border-box;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 26px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confirm-order h1 {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
}

.confirm-order-products {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    justify-content: space-between;
    gap: 13px;
    margin-top: 28px;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 22px;
}

.confirm-order-prices {
    text-align: right;
}

.button-confirm {
    background: #FFFFFF;
    border-radius: 100px;
    border: none;
    width: 100%;
    height: 52px;

    font-weight: 700;
    font-size: 22px;
    color: #50D074;
}

.button-cancel {
    background: none;
    border: none;
    width: 100%;
    height: 52px;

    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

